<h1>Add an Appointment</h1>
<%= form_with(model: @appointment, local: true) do |f| %>
  <div class="field">
    <%= f.label :weekday %>
    <%= f.text_field :weekday, required: true, placeholder: "Day of the Week" %>
  </div>

  <%= f.submit %>
<% end %>